<!DOCTYPE html>
<html lang="en">
	<head>
        <title><% preact.title %></title>

		<meta charset="utf-8">
        <meta name="description" content="Sven Vowe - full stack dev and IT freelancer" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="author" href="Sven Vowe" />
        <% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
